*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html,
body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    background-color: black;
}

.page1{
    height: 100vh;
    width: 100%;
    background-color:#F9F5F2;
}

.nav{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6vw;
}

.logo h1{
    font-size: 3vw;
    font-weight: 600;
    color: #2C292A;
    font-family: "Playfair Display", serif;

}

.logo span{
    color: #5F654E;
}

.nav-dets a{
    text-decoration: none;
    color: #2C292A;
    font-size: 1.2vw;
    margin-left: 2vw;
}

.nav-dets span{
    text-decoration: underline;
    text-decoration-color: #5F654E;
}

.nav-dets i{
    margin-left: 3vw;
}

.page1-content{
    height: 78vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 6vw;
}

.page1-cont-box1{
    height: 100%;
    width: 40%;
}

.page1-cont-box1 h3{
    font-size: 1.2vw;
    color: #5F654E;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 14vw;
    margin-top: 5vh;
}

.page1-cont-box1 img{
    height: 5vh;
    width: 5vh;
    object-fit: contain;
}

.page1-cont-box1 h1{
    font-size: 8vw;
    color: #2C292A;
    font-family: "Playfair Display", serif;
    font-weight: 600;
}

.line{
    height: 0.5vh;
    width: 6vw;
    background-color: #5F654E;
    margin-top: 1vh;
}

.page1-cont-box1 p{
    font-size: 1.2vw;
    color: #2C292A;
    width: 23vw;
    margin-top: 2vh;
}

.box1{
    height: 5vh;
    width: 14vw;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box1-cir{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 7vw;
}

.circle{
    height: 3vh;
    width: 3vh;
    border-radius: 50%;
}

.circle:nth-child(1){
    background-color: #5F654E;
}

.circle:nth-child(2){
    background-color: #E6DED5;
}

.circle:nth-child(3){
    background-color: #E1A9A6;
}

.page1-cont-box1 h2{
    font-size: 1.5vw;
    color: #2C292A;
    margin-top: 1vh;
}

.line-abs{
    position: absolute;
    height: 0.3vh;
    width: 2vw;
    background-color: #5F654E;
    bottom: 30%;
    left: 12%;
}

.page1-cont-box2{
    height: 88%;
    width: 10%;
}

.page1-cont-box2 h2{
    display: flex;
    justify-content: space-between;
    width: 19%;
    rotate: -90deg;
    position: absolute;
    bottom: 35%;
    left:37%;
}

.page1-cont-box2 .line{
    margin-top: 2vh;
    width: 5vw;
    height: 0.2vw;
}

.page1-cont-box3{
    height: 84%;
    width: 42%;
    background-image: url(assets/girl.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 1vw;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}


.dis{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 1.5vw;
}

.rate{
    height: 7vh;
    border-radius: 1vw;
    width: 6vw;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    justify-content: center;
    background-color:white;
    font-weight: 600;
    font-size: 1.3vw;
}

.star{
    height: 7vh;
    width: 16vw;
    display: flex;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    background-color:white;
    font-weight: 600;
    padding: 0 1.8vw;
}

.star h6{
    font-size: 1.2vw;
    color: #2C292A;
}

.star i{
    font-size: 1.2vw;
    color: #5F654F;
}

.add-to-cart{
    height: 20vh;
    width: 20vh;
    background-color: #5F654F;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
    color: white;
    font-size: 1.2vw;
    position: absolute;
    bottom: 16%;
    right: 13%;
}

.add-to-cart i{
    margin-bottom: 0.5vh;
    font-weight: 400;
    font-size: 2vw;
}

.add-to-cart h4{
    margin-top: 0.5vh;
    font-weight: 400;
}

.page1-cont-box4{
    height: 90%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.box{
    margin-left: 28%;
    height: 16vh;
    width: 7vw;
    border-radius: 1vw;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box:nth-child(1){
    border: 4px solid #5F654F;
}

/* MATHS KAHRAB HEIN IK */

.below{
    height: 12%;
    width: 100%;
    display: flex;
    padding: 0 6vw;
}

/* IM SO DUMB */

.icon{
    height: 100%;
    width: 32%;
    display: flex;
    justify-content: space-between;
}

.icon-box{
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-div{
    height: 7vh;
    width: 7vh;
    background-color: #E5E4D9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-div i{
    color: #686B5A;
    font-size: 2vw;
}


.icon-box h6{
    margin-top: 0.5vh;
    font-size: 1vw;
    text-align: center;
    color: #2C292A;
}

.ship{
    height: 100%;
    width: 45%;
    /* background-color: blue; */
    margin-left: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ship-box{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3EFEA;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.121);
    border-radius: 1vw;
}

.ship-mini-box{
    height: 80%;
    width: 11vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1vw;
}

.ship-mini-box i{
    font-size: 2.5vw;
    color: #5F654F;
}

.ship-mini-box h4{
    font-size: 1.1vw;
    font-weight: 500;
}

.ship-mini-box:nth-child(1){
    border-right: 2px solid gray;
}

.ship-mini-box:nth-child(2){
    border-right: 2px solid gray;
}